@import "less/mixins.less";

.background-image(@one, @two, @three){
  background-image: -webkit-linear-gradient(left, @one, @two, @three);
  background-image:    -moz-linear-gradient(left, @one, @two, @three);
  background-image:     -ms-linear-gradient(left, @one, @two, @three);
  background-image:      -o-linear-gradient(left, @one, @two, @three);
}

hr{
  border: 0;
  height: 1px;
  width: 100%;
  &.soften{
      .background-image(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  }
  &.left{
      .background-image(rgba(0, 0, 0, .1), rgba(0, 0, 0, .05), rgba(0, 0, 0, 0));
  }
}

body{
    background-attachment: fixed;
    font-family: "Yanone Kaffeesatz", "Helvetica Neue", sans-serif;
    padding: 25px 0;
    text-shadow: 1px 1px 1px #fff;
    p{
        font: 300 20px/1.1em "Yanone Kaffeesatz", "Helvetica Neue", sans-serif;
        padding: 0;
    }
}

.row{
    padding: 50px 0 25px;
}

h1{
    font-size: 90px;
    line-height: .5em;
    small{
        color: #777;
        font-size: 32px;
        font-weight: 300;
        padding-left: 24px;
    }
}

h2{
    font-size: 36px;
    line-height: 1.2em;
    small{
        color: inherit;
        font-size: 24px;
        font-weight: 300;
        padding-left: 16px;
    }
}

.focus{
    padding-bottom: 0;
    .setup{
        color: #777;
        font-size: 28px;
    }
    .explanation{
        font-size: 32px;
    }
}

.browser, .iphone{
    display: block;
    margin: 0 auto;
}

.music{
    h2{
        text-align: center;
    }
}


/*
 * Phone
 */
@media (max-width: 767px) {
}


/*
 * Tablet
 */
@media (max-width: 979px) and (min-width: 768px) {
    h1{
        font-size: 76px;
        small{
            font-size: 28px;
            padding-left: 16px;
        }
    }
}



/*
 * Desktop
 */
@media (min-width: 1200px) {
    body p{
        font-size: 24px;
    }
}
